html,body {
  height: 100%;
  margin: 0;
  padding: 0;

  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
	width: 300px;
	height: 410px;
  background-color: #E8E8E8;
  margin: auto;
}

.header {
	background-color: #01579B;
	height: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#buttonAdd {
  height: 40%;
}
.tasks-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.task {
  width: 90%;
  height: 40px;
  background-color: white;
  color: #676767;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.button-delete-task {

}

